@model HaberSistemi.Data.Model.Kategori
@{
    ViewBag.Title = "Kategori Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container-fluid">
        <!-- Basic form -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <header class="panel-heading">@ViewBag.Title</header>
                    <div class="panel-body">
                        @Html.HiddenFor(x => x.ID)
                        <form role="form">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Üst Kategori</label>
                                @Html.DropDownListFor(model => model.KategoriAdi, new SelectList(ViewBag.Kategori, "ID", "KategoriAdi"), ("Seçiniz"), new {@class="form-control" , id="ParentID" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Kategori Adı</label>
                                @Html.TextBoxFor(x => x.KategoriAdi , new { @class="form-control" , id= "kategoriAdi" , placeholder="Kategori Adı" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Kategori Url</label>
                              
                                @Html.TextBoxFor(x => x.URL, new { @class = "form-control", id = "kategoriUrl", placeholder = "URL" })
                            </div>

                            <div class="checkbox">
                                <label>
                            
                                    @Html.CheckBoxFor(x => x.AktifMi , new { @checked="checked" , id= "kategoriAktif" }) Durum(T/F)
                                </label>
                            </div>
                            <a href="#" class="btn btn-default" onclick="KategoriEkle();">Kategori Ekle</a>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Basic form -->

    </div>

