@model PagedList.IPagedList<HaberSistemi.Data.Model.Kategori>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Kategori Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
  

    <div class="row">
        <!-- Responsive table -->
        <div class="col-md-12">
            <div class="panel panel-default">
                <header class="panel-heading">@ViewBag.Title</header>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped deneme">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Kategori Adı</th>
                                    <th>Üst Kategori</th>
                                    <th>Durum</th>                                
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                             @foreach (var item in Model)
                             {
                                    <tr>
                                    <td><span class="label label-success">@item.ID</span></td>
                                    <td>@item.KategoriAdi</td>
                                    <td>
                                        @foreach (var ustKategori in Model.Where(x => x.ID == item.ParentID))
                                        {
                                            <span>@ustKategori.KategoriAdi</span>
                                        }
                                    </td>
                                    <td>@if (item.AktifMi == true)
{
    <b class="label label-success">Aktif</b>
}
                                        else
                                        {
                                                <b class="label label-danger">Pasif</b>
                                        }</td>
                                  
                                    <td>
                                        @*<button class="btn btn-default btn-sm">Düzenle</button>*@

                                        <a href="@Url.Action("Duzenle","Kategori",new {  ID = item.ID})" class="btn btn-default btn-sm">Düzenle</a>
                                        @*@Html.ActionLink("Sil", "Sil", new { ID = item.ID }, new {onclick="return confirm('Kaydı silmek istediğinze emin misiniz ?')" })*@
                                        <button class="btn btn-default btn-sm" id="KategoriDelete" data-id="@item.ID">Sil</button>
                                    </td>
                                </tr>
                             }
                              
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="Bilgi"></div>
            </div>
         
            @Html.PagedListPager(Model , Sayfa => Url.Action("Index",new { Sayfa }),PagedListRenderOptions.Classic)
         
        </div>
        <!-- /Responsive table -->
    </div>
   
</div>