@model HaberSistemi.Data.Model.Haber
@{
    ViewBag.Title = "Haber Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/ckeditor/ckeditor.js"></script>

<div class="container-fluid">
    <!-- Basic form -->
    @using (Html.BeginForm("Duzenle", "Haber", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <header class="panel-heading">@ViewBag.Title</header>
                    <div class="panel-body">
                        @Html.HiddenFor(x => x.ID)
                        <form role="form">

                            <div class="form-group">
                                <label for="Kategori">Kategori</label>
                                @Html.DropDownListFor(model => model.KategoriID, new SelectList(ViewBag.Kategori, "ID", "KategoriAdi"), ("Seçiniz"), new { @class = "form-control", id = "KategoriID" })
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Haber Başlık</label>
                                @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control", id = "Baslik", placeholder = "Haber Başlık" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Kısa Açıklama</label>
                                @*@Html.TextAreaFor(x => x.KisaAciklama , new { @class = "form-control", id = "KisaAciklama", placeholder = "Kısa Açıklama" })*@
                                @Html.TextArea("KisaAciklama")
                                <script type="text/javascript">
                                    var editor = CKEDITOR.instances['KisaAciklama'];
                                    if (editor) { editor.destroy(true); }
                                    CKEDITOR.replace('KisaAciklama', {
                                        enterMode: CKEDITOR.ENTER_BR,
                                    });
                                </script>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">Açıklama</label>
                                @*@Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control", id = "Aciklama", placeholder = "Açıklama" })*@
                                @Html.TextArea("Aciklama")
                                <script type="text/javascript">
                                    var editor = CKEDITOR.instances['Aciklama'];
                                    if (editor) { editor.destroy(true); }
                                    CKEDITOR.replace('Aciklama', {
                                        enterMode: CKEDITOR.ENTER_BR,
                                    });
                                </script>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">Vitrin Resmi</label>
                                <input type="file" name="VitrinResmi" accept="image/*" class="form-control" />

                                <img src="@Model.Resim" style="width:100px" />
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">Detay Resim(ler)</label>
                                <input type="file" name="DetayResim" accept="image/*" class="form-control" multiple />
                                @foreach (var item in Model.Resims.Where(x => x.HaberID == Model.ID))
                                {
                                    <img src="@item.ResimUrl" width="100" />
                                    <label><a href="@Url.Action("ResimSil","Haber" , new { ID = item.ID })">Sil</a></label>

                                }
                            </div>


                            <div class="checkbox">
                                <label>

                                    @Html.CheckBoxFor(x => x.AktifMi, new { @checked = "checked", id = "haberAktif" }) Durum (T/F)
                                </label>
                            </div>

                            <button type="submit" class="btn btn-default">Düzenlemeyi Kaydet</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- /Basic form -->

</div>
